---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => {
    return b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
  }
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
        padding: 20px 0px;
			}
      h4.title {
        font-family: 'IBM Plex Sans Condensed';
        font-weight: 700;
        font-size: 32px;
      }
			ul {
				gap: 2rem;
				list-style-type: none;
				margin: 0;
				padding: 20px 0 40px 0;
			}
      ul li {
        margin-bottom: 5px;
      }
			ul li * {
				text-decoration: none;
				transition: 0.2s ease;
			}
    
			ul li img {
				margin-bottom: 0.5rem;
				border-radius: 12px;
			}
			ul li a {
        padding: 20px 0;
				display: block;
				color: rgb(var(--black));
			}
			.title {
				margin: 0;
				color: rgb(var(--black));
				line-height: 1.4;
			}
      .description {
				color: rgb(var(--black));
        font-size: 22px;
        margin: 0;
      }
			.date {
				margin: 0;
				color: rgb(var(--gray));
			}
      ul li a {
        border-radius: 5px;
        padding: 20px;
      }
			ul li a:hover h4 {
        text-decoration: underline;
      }
			ul li a:hover h4 {
				color: var(--accent);
			}
			ul a:hover img {
				box-shadow: var(--box-shadow);
			}
			@media (max-width: 720px) {
				ul {
					gap: 0.5em;
				}
				ul li {
					width: 100%;
				}
				ul li:first-child {
					margin-bottom: 0;
				}
				ul li:first-child .title {
					font-size: 1.563em;
				}
			}
		</style>
	</head>
	<body>
    <div id='wrapper'>
      <Header />
      <main>
        <section>
          <ul>
            {
              posts.map((post) => (
                <li>
                  <a href={`/blog/${post.slug}/`}>
                      <h4 class="title">{post.data.title}</h4>
                    <p class="description">{post.data.description}</p>
                    
                  </a>
                </li>
              ))
            }
          </ul>
        </section>
      </main>
    </div>
		<Footer />
	</body>
</html>
