---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '@fontsource/ibm-plex-sans';
import '@fontsource/ibm-plex-sans-condensed/700.css';
import '@fontsource/ibm-plex-sans/700.css';
import '@fontsource/ibm-plex-sans/400-italic.css';
import '@fontsource/ibm-plex-mono';
import { getImage, type LocalImageProps } from "astro:assets";
import '../styles/global.css';

interface Props {
	title: string;
	description: string;
	heroImage?: LocalImageProps['src'];
	image?: LocalImageProps['src'];
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, heroImage, image } = Astro.props;

const backupImage = new URL('/blog-placeholder.png', Astro.url);
const optimizedHero = heroImage && new URL((await getImage({ src: heroImage })).toString(), Astro.url);
const optimizedImage = image && new URL((await getImage({ src: image, format: 'png' })).toString(), Astro.url);
const socialImage = (optimizedHero ?? optimizedImage ?? backupImage).toString();
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<link href={new URL('/rss.xml', Astro.url).toString()} rel="alternate" type="application/rss+xml" title="Val Town Blog">

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={socialImage} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={socialImage} />
